{% extends "base.html" %}

{% block title %}Detail{% endblock title %}

{% block content %}
    <p class="h1">{{destination.name}}</p></p>
    <p class="lead">{{destination.description}}</p>
    <h4>Activities: </h4>
    <p class="lead">{{destination.activities}}</p>
    <p><iframe width="100%" height="640" style="width: 100%; height: 640px; border: none;" frameborder="0" allow="vr,gyroscope,accelerometer,fullscreen" scrolling="no" allowfullscreen="true" style="max-width: 100%;" src="https://kuula.co/share/7frLJ?fs=1&vr=0&zoom=1&thumbs=1&chromeless=0&logo=0"></iframe></p>
     <h2>Visiting season: </h2>
    <p class="h3">{{destination.optimal_visiting_season}}</p>
    <a href="{% url 'destination-update' destination.id %}">
        <button type="button" class="btn btn-secondary">Update</button>
    </a>
    <a href="{% url 'destination-delete' destination.id %}">
        <button type="button" class="btn btn-danger float-right">Delete</button>
    </a>
{% endblock content %}
