{% extends "base.html" %}

{% block title %}Detail{% endblock title %}

{% block content %}
    <p class="h1">{{destination.name}}</p></p>
    <p class="lead">{{destination.description}}</p>
    <p class="lead">{{destination.activities}}</p>
    <p><img id="pic" src="{{destination.pretty_picture.url}}"></p>
    <p class="h3">{{destination.optimal_visiting_season}}</p>
    <a href="{% url 'destination-update' destination.id %}">
        <button type="button" class="btn btn-secondary">Update</button>
    </a>
    <a href="{% url 'destination-delete' destination.id %}">
        <button type="button" class="btn btn-danger">Delete</button>
    </a>
{% endblock content %}
